@media only screen and (min-width: 40rem) {

    /* ----------------- Header -------------------- */

    .hamburger {
        display: none;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    .navigation {
        display: block;
        flex: 1;
        text-align: center;
        max-width: 400px;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ----------------- Header -------------------- */

    .m-details {
        grid-template-columns: 1fr 2fr;
    }

    .trailer {
        grid-column: 1 / 3;
    }

    .reviews {
        grid-column: 1 / 3;
    }

}