:root {
    --red: #790000;
    --red-hover: #610000;
}

* {
    font-family: "Montserrat";
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0c0c0c;
}

/* ----------------- HEADER ----------------- */

header {
    background-color: var(--red);
}

.logo-title {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: 10px;
    align-items: center;
    padding: 5px 0 5px 10px;
    background-color: var(--red);

    & img {
        width: 100%;
        height: auto;
        filter: drop-shadow(0 0 3px black);
    }

    & span {
        font-weight: 600;
        font-size: 2rem;
    }
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana;


    &::before {
        content: "\2630";
        font-size: 2rem;
    }

    &.show::before {
    content: "\00D7";
    font-size: 2rem;
    }
}

.navigation {
    display: none;

    &.show {
        display: block;
        background-color: var(--red);
    }

    & ul {
        list-style-type: none;
    }

    & a {
        display: block;
        padding: 1.4rem 1rem;
        text-decoration: none;
        text-align: center;
        transition: transform 0.3s ease-out;
    }

    & a:hover {
        background-color: var(--red-hover);
        transform: scale(0.9);
    }
}

.current {
    background-color: var(--red-hover);
}

/* ----------------- HOME ----------------- */

h1 {
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
}

.hero {
    position: relative;
}

.hero-img {
    max-width: 1000px;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.cta a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    padding: 10px;
    background: var(--red);
    border: 3px outset white;
    border-radius: 5px;
    width: 30%;
    height: auto;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.cta a:hover {
    background: var(--red-hover);
    border: 3px outset var(--red-hover);
}

/* ----------------- MOVIES ----------------- */

.movie-grid {
    list-style-type: none;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    & li {
        justify-self: center;
        animation: fade-in 3s ease-out;
        border-radius: 12px;

        & a {
            text-decoration: none;
        }

        & img {
            width: 300px;
            height: auto;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------- MOVIES DETAILS ----------------- */

.m-details {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: 320px;

    & img {
        width: 300px;
        height: auto;
    }
}

.main-details > * {
    margin: 10px 0 10px 0;
    padding: 0 10px;
}

.main-details h3 {
    color: var(--red);
}

.trailer {
    justify-self: center;
    height: auto;
}

/* ----------------- CONTACT US ----------------- */



/* ----------------- FOOTER ----------------- */

footer {
    background-color: var(--red);
    text-align: center;
    padding: 30px;
    margin-top: 10px;

    & p {
        font-size: 1.2rem;
    }
}